<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">
  <display-name>project02</display-name>
    
  <servlet>
     <servlet-name>hello</servlet-name>
     <servlet-class>com.woori.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>hello</servlet-name>
     <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
     <servlet-name>calculate</servlet-name>
     <servlet-class>com.woori.servlet.CalculatorServlet</servlet-class>
  </servlet> 
  
  <servlet-mapping>
     <servlet-name>calculate</servlet-name>
     <url-pattern>/calculate</url-pattern>
  </servlet-mapping>  
  
  <servlet>
     <servlet-name>index</servlet-name>
     <servlet-class>com.woori.servlet.IndexServlet</servlet-class>
  </servlet> 
  
  <servlet-mapping>
     <servlet-name>index</servlet-name>
     <url-pattern>/index</url-pattern>
  </servlet-mapping>  

</web-app>